<!DOCTYPE html>
<html lang="pt">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>  
</HEAD>
<body bgcolor="##000000" text="#009933" link="#333366" alink="#000000" vlink="#333366" ng-controller="WelcomeController">
<MARQUEE direction="right" bgcolor="##000000" loop="1" scrollamount="10" width="100%">Questionário de auto-avaliação do(s) olho(s) seco(s)</MARQUEE>
<table width="100%" height="96%" border="0"><tr>
<td valign="left" align="center">&nbsp;<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<table cellpadding="5" cellspacing="0" border="0"><tr>
<td valign="top" align="left"><font face="Verdana,MS Sans Serif" size="2"><b>
    <title>Auto-avaliação do(s) olho(s)</title>
    <h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1. Questionário sobre desconforto ocular</h1>

    <hr>

    <form action="" method="GET">
    <div ng-app="">
            <p>a. Durante um dia típico no passado mês, qual a frequência de desconforto no(s) olho(s)?<br>
            <input type="radio" ng-model="option1" ng-value="0">Nunca<br>
            <input type="radio" ng-model="option1" ng-value="1">Raramente<br>
            <input type="radio" ng-model="option1" ng-value="2">Às vezes<br>
            <input type="radio" ng-model="option1" ng-value="3">Frequentemente<br>
            <input type="radio" ng-model="option1" ng-value="4">Constantemente</p>
            <p>b. Quando sente desconforto no(s) olho(s), quão intenso foi esse sentimento no final do dia, duas horas antes de ir para a cama?<br>
 			 <input type="checkbox" ng-model="selected1" ng-true-value="0" ng-false-value="0">Nunca tive
 			 <input type="checkbox" ng-model="selected1" ng-true-value="1" ng-false-value="0">Suave
 			 <input type="checkbox" ng-model="selected1" ng-true-value="2" ng-false-value="0">Ligeiro
  			 <input type="checkbox" ng-model="selected1" ng-true-value="3" ng-false-value="0">Moderado
 			 <input type="checkbox" ng-model="selected1" ng-true-value="4" ng-false-value="0">Forte
 			 <input type="checkbox" ng-model="selected1" ng-true-value="5" ng-false-value="0">Bastante

    	    <h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2. Questionário sobre olho(s) seco(s)</h1>
    	    
    	    <hr>
    	    
    	    <p>a. Durante um dia típico no passado mês, qual a frequência de olho(s) seco(s)?<br>
             <input type="radio" ng-model="option2" ng-value="0">Nunca<br>
             <input type="radio" ng-model="option2" ng-value="1">Raramente<br>
             <input type="radio" ng-model="option2" ng-value="2">Às vezes<br>
             <input type="radio" ng-model="option2" ng-value="3">Frequentemente<br>
             <input type="radio" ng-model="option2" ng-value="4">Constantemente</p>
            <p>b. Quando sente o olho(s) seco(s), quão intenso foi esse sentimento no final do dia, duas horas antes de ir para a cama?<br>
 			 <input type="checkbox" ng-model="selected2" ng-true-value="0" ng-false-value="0">Nunca tive
 			 <input type="checkbox" ng-model="selected2" ng-true-value="1" ng-false-value="0">Suave
 			 <input type="checkbox" ng-model="selected2" ng-true-value="2" ng-false-value="0">Ligeiro
  			 <input type="checkbox" ng-model="selected2" ng-true-value="3" ng-false-value="0">Moderado
 			 <input type="checkbox" ng-model="selected2" ng-true-value="4" ng-false-value="0">Forte
 			 <input type="checkbox" ng-model="selected2" ng-true-value="5" ng-false-value="0">Bastante
    	    <h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3. Questionário sobre olho(s) lacrimejante(s)</h1>
    	    
    	    <hr>
    	    
    	    <p>Durante um dia típico no passado mês, qual a frequência de olho(s) lacrimejante(s)?<br>
 			 <input type="checkbox" ng-model="selected3" ng-true-value="0" ng-false-value="0">Nunca tive
 			 <input type="checkbox" ng-model="selected3" ng-true-value="1" ng-false-value="0">Suave
 			 <input type="checkbox" ng-model="selected3" ng-true-value="2" ng-false-value="0">Ligeiro
  			 <input type="checkbox" ng-model="selected3" ng-true-value="3" ng-false-value="0">Moderado
 			 <input type="checkbox" ng-model="selected3" ng-true-value="4" ng-false-value="0">Forte
 			 <input type="checkbox" ng-model="selected3" ng-true-value="5" ng-false-value="0">Bastante
<h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Pontuação: {{option1 + selected1 + option2 + selected2 + selected3}}</h1>

  			
    </form>
    <br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
    </p>
</body>
</html>
